fieldset {
    position:relative;
    border:none;
    width: 100%;  
}

body{
    color: rgb(20, 19, 19);
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgb(221, 86, 86) , rgb(21, 20, 20) 80% )    
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(236, 226, 225);
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
}

form label {
    color: gray;
    font-size: 10pt;
}

form input {
    background:none;
    padding: 10px;
    border: none;
    border-bottom: 1px solid grey;
    align-self:center; width:250px;
}

form button {  
    align: center;
    padding: 10px;
    background-color: #750e0e;
    color: white;
    font-size: 1 rem;
    font-weight: 100;
    border: none;
    border-radius: 20px;
    cursor: grab;
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    font-size:20pt;
    margin-top:20px;
    text-align: center;
}

table tr th{
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 10px 70px;
}

table tr td {
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    padding: 10px 70px;    
}

table{
    margin:0 auto;
}

caption{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 10px;
}