* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  background-color: #96eafc;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

label, p {
  margin-right: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: absolute;
  color: #088ac2;
}

input {
  margin-bottom: 5px;
  border: 2px solid #088ac2;
  border-radius: 4px;
  padding: 10px;
  background-color: #ffff;
  font-size: 18px;
  font-weight: bold;
  color: #088ac2;
}

button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid #088ac2;
  border-radius: 4px;
  background-color: #088ac2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}

button:hover {
  background-color: #5552;
  color: darkblue;
}